html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  opacity: 1;
  background-image: linear-gradient(
      #f5f5f5 4.800000000000001px,
      transparent 4.800000000000001px
    ),
    linear-gradient(
      90deg,
      #f5f5f5 4.800000000000001px,
      transparent 4.800000000000001px
    ),
    linear-gradient(
      #f5f5f5 2.4000000000000004px,
      transparent 2.4000000000000004px
    ),
    linear-gradient(
      90deg,
      #f5f5f5 2.4000000000000004px,
      #ffffff 2.4000000000000004px
    );
  background-size: 120px 120px, 120px 120px, 24px 24px, 24px 24px;
  background-position: -4.800000000000001px -4.800000000000001px,
    -4.800000000000001px -4.800000000000001px,
    -2.4000000000000004px -2.4000000000000004px,
    -2.4000000000000004px -2.4000000000000004px;
}

header {
  width: 320px;
}

footer {
  margin-bottom: 5rem;
}

#main {
  opacity: 1;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "VT323", monospace;
  border-top: solid 8px rgba(255, 255, 0, 0.5);
}

#main-section {
  margin-top: 0.5rem;
  max-width: 640px;
  font-size: 2rem;
  padding: 2rem;
}

#drop-shadow {
  position: relative;
  display: flex;
  justify-content: center;
  filter: drop-shadow(6px 0px 0px rgba(255, 0, 255, 0.74))
    drop-shadow(-4px -4px 0px rgba(0, 255, 255, 0.822))
    drop-shadow(0px 6px 0px rgba(255, 255, 0, 0.829));
}

#ricolon {
  position: relative;
  height: 220px;
  width: 220px;
  background-image: url("img/rico.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  clip-path: polygon(219px 0px, 0px 73px, 188px 221px);
  background-color: magenta;
  background-blend-mode: luminosity;
  animation: slideDown forwards 0.8s ease;
}

@keyframes slideDown {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#ricolon img {
  display: none;
}

#ricolon::before,
#ricolon::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  mix-blend-mode: multiply;
  transform: scale(1.02);
}

#ricolon::before {
  background-color: yellow;
  background-blend-mode: screen;
  transform-origin: top left;
}

#ricolon::after {
  background-color: cyan;
  background-blend-mode: screen;
  transform-origin: bottom right;
}

.line-oblique {
  top: 230px;
  position: relative;
  height: 3px;
  width: 100%;
  background-color: magenta;
  transform: skewY(-20deg);
  border: solid 1px yellow;
  animation: slideRight forwards 0.8s ease;
}

@keyframes slideRight {
  0% {
    transform: translateX(-1400px) skewY(-20deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) skewY(-20deg);
    opacity: 1;
  }
}

.line-oblique.two {
  top: 255px;
}

.name-lastname-band {
  background: #000000;
  height: 40px;
  animation: slideLeft forwards 1s ease-out;
}

@keyframes slideLeft {
  0% {
    transform: translateX(1400px) skewY(-20deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) skewY(-20deg);
    opacity: 1;
  }
}

.name-lastname-band.first {
  left: 59px;
}

.name-lastname-band.second {
  top: 198px;
  left: 51px;
}

.name-lastname-band,
.name-lastname {
  display: block;
  position: relative;
  top: 193px;
  position: relative;
  padding: 6px 35px 8px;
  transform: skewY(-20deg);
  width: 220px;
}

.name-lastname {
  line-height: 1;
  color: cyan;
  font-family: "VT323", monospace;
  font-size: 30px;
  top: -102px;
  left: 38px;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  animation: slideUp forwards 1.1s ease-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(1000px) skewY(-20deg);
    opacity: 0;
  }

  100% {
    transform: translateY(0px) skewY(-20deg);
    opacity: 1;
  }
}

.lastname {
  top: -104px;
}

p {
  margin-bottom: 1.5rem;
}

small {
  font-size: 1rem;
}

.justify {
  text-align: left;
}

.tag {
  display: inline-block;
  padding: 5px 15px 6px;
  background: black;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: cyan;
}

.arrow,
a,
a:visited {
  color: magenta;
}

a:hover {
  color: cyan;
}

.contacts {
  word-break: break-all;
}

.footer {
  font-size: 1.5rem;
}

#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: cyan;
  transform: translateX(-100%);
  animation: slideAll forwards 0.5s;
}

@keyframes slideAll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.cursor {
  color: black;
  padding: 5px 6px 6px;
  display: inline-block;
  background: black;
  font-size: 1rem;
  animation: blink infinite 1.2s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* From tablet up */
@media (min-width: 768px) {

  #main-section {
   
    font-size: 2.5rem;
  }

  p {
    margin-bottom: 3rem;
  }

  .justify { text-align: justify;}
}